body {
		display:flex;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background: #FEDCCC;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 95vh;
    background: #2d313a;
    border: 1px solid #45474B;
    border-radius: 30px;
    margin-left: 10px;

    a{
			font-family: "Merriweather", serif;
			display: flex;
			align-items: center;
			justify-content: start;
			letter-spacing: 0px;
			font-size: 17px;
			font-weight: 400;
			padding: 0 15px;
			gap: 0.75em;
			margin: 20px 0;
	} 
 }
.add-content-btn {
		margin-left: 90%;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #F4CE14;
    transition:color 1s 10ms;
}

.settings {
    display: flex;
    margin-top: auto;
    padding-bottom: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-right: 10px;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0.50px;
    font-weight: 800;
}

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 0.5ems;
    font-family: "Lato", sans-serif;
}

.topBar h1 {
    color: #F87C4C;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.topBar p {
    text-align: center;
    background: #d8d2d2;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin: auto 5px;
}

.table {
		display: grid;
    width: 135vh;
    height: 73vh;
    margin: 2% 5% auto 3%;
    border: 3px solid #F87C4C;
    border-radius: 5px;
	gap: 10px;
	overflow: ;
}

.table-header{
display: flex;
background: #F87C4C;
color: white;
padding: 10px;
font-weight: bold;
font-family: "Lato", sans-serif;

}

.table-row {
display: flex;
font-weight: normal;
margin: 0px;
a:hover{
		background-color: grey;
		transition: background-color 1s;
}
}

.table-row a{
color: black;
display: flex;
width: 100%;
padding: 10px;
font-weight: normal;
justify-content: space-between;
}

//.column {
//flex: 1;
//text-align: center;
//display: flex;
//align-items: center;
//justify-content: start;
//gap: 10px;
//padding: 10px;
//}

.subject {
display: flex;
align-items: center;
justify-content: start;
gap: 10px;
}

.sideImg {
    margin-top: 32%;
    margin-left: 13%;
    width: 85%;
    height: 84.5%;
    border: 3px solid #F87C4C;
    border-radius: 8px;
}

.add-content-btn {
		
}
